[Desktop Entry]
Version=1.0
Type=Application
Name=Beekeeper Studio Ultimate
Icon=beekeeper-studio
Exec="{{app_dir}}/{{file_name}}" %f
Comment=Python IDE for Professional Developers
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-pycharm-ce
StartupNotify=true
